<h1> About Thingster </h1>

<p> Hi there thanks for checking out my app! The idea behind thingster is to create a one stop shop to store all the things you area interested in! 
</p>

<h2> About the creator </h2>

<p> My name is Warsama Gabriel, Im a Junior software developer studying at General Assembly in San Francisco California. In my spare time, I like to work out and make music with my synthesizers! Holllaa!
</p>